@media screen and (width <= 1280px) {
    .body {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .header {
        order: -1;
    }

    .header figure {
        display: none;
    }

    #thead,
    #tfoot {
        flex-basis: 8vh;
    }

    #firstRow,
    #secondRow {
        flex-flow: wrap row;
        width: 100%;
        height: initial;
    }

    #firstRow span,
    #secondRow span {
        flex-grow: 1;
        flex-wrap: wrap;
        height: initial;
    }

    #firstRow span:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.5);
        flex-grow: 2;
    }

    #firstRow span:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.5);
        flex-grow: 5;
    }

    #secondRow span:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.5);
        flex-grow: 5;
    }

    #secondRow span:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.5);
        flex-grow: 2;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .fieldset {
        gap: 20px;
    }

    .elements {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        row-gap: 40px;
        flex-wrap: wrap;
    }

    .elements > nav,
    .elements > figure {
        height: 200px;
    }

    .lists {
        order: 1;
    }
}

@media screen and (width <= 500px) {
    .lists {
        justify-content: center;
    }

    .lists div {
        flex-basis: 60%;
    }

    .lists div:nth-child(3) {
        flex-basis: 60%;
    }

    * {
        font-size: 0.8rem;
    }
}

@media print and (orientation: landscape) {
    .body {
        background-color: #ff0000;
    }
}

@media print and (orientation: portrait) {
    .body {
        background-color: violet;
    }
}

@media print and (min-resolution: 150dpi) {
    span {
        font-size: 30px;
    }
}

@media print and (min-resolution: 300dpi) {
    span {
        font-size: 18px;
    }
}

@media (aspect-ratio: 1/1) {
    .body {
        background-color: #dc0155;
    }
}
