:root {
    --background-color-dark: #19253b;
    --background-color-interaction-dark: #e8e8e8;
    --text-color-dark-input-label: #dc0155;
    --text-color-dark: #ffc548;

    --background-color-light: #ffffff;
    --background-color-interaction-light: #8c8c8c;
    --text-color-light-input-label: #000dff;
    --text-color-light: #333;

    --font-family-main: consolas, "Times New Roman", serif;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-main);
    text-align: center;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);

        input, select, textarea {
            background: var(--background-color-interaction-dark);
            color: var(--text-color-dark);
        }

        .data__form > fieldset > legend ~ label {
            color: var(--text-color-dark-input-label);
        }

        .data__form > label {
            color: var(--text-color-dark-input-label);
        }

        .data input {
            border-bottom: 1px solid var(--background-color-interaction-dark);
        }

        .data textarea {
            border: 1px solid var(--background-color-interaction-dark);
            border-top: none;
        }

        table td:hover {
            background-color: var(--background-color-interaction-dark);
            color: var(--background-color-dark)
        }

        fieldset > legend {
            color: var(--text-color-dark-input-label);
        }

        body::-webkit-scrollbar-thumb {
            background-color: var(--background-color-interaction-dark);
        }

        textarea::-webkit-scrollbar-thumb {
            background-color: var(--background-color-interaction-dark);
        }

        .radio input[type=radio]:checked, input[type=checkbox]:checked {
            border-color: var(--background-color-dark);
            background-color: var(--text-color-dark);
            box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-color-light);
        color: var(--text-color-light);

        input, select, textarea {
            background: var(--background-color-light);
            color: var(--text-color-light);
        }

        .data__form > fieldset > legend ~ label {
            color: var(--text-color-light-input-label);
        }
    }
}

.header > a > img {
    width: 30vw;
}

table td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: not-allowed;
}

#firstRow .bold {
    font-weight: 800;
}

#firstRow .strong {
    font-weight: 100;
}

#firstRow .sup {
    vertical-align: super;
    font-size: smaller;
}

#firstRow .sub {
    vertical-align: sub;
    font-size: smaller;
}

#firstRow .ins {
    text-decoration: underline;
}

#secondRow .del {
    text-decoration: line-through;
}

#secondRow .small {
    font-size: 80%;
}

#secondRow .mark {
    position: relative;
}

#secondRow div.mark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    opacity: 0.5;
    z-index: -1;
}

#secondRow .i {
    font-style: italic;
}

#secondRow .em {
    font-style: oblique;
}

.data input, .data select, .data textarea {
    border: 0;
    outline: none;
    background-color: transparent;
}

[data-submit], [data-reset] {
    cursor: pointer !important;
}

.button-hover:hover {
    cursor: pointer;
    background-color: rgba(152, 152, 152, 0.39);
}

[data-footer-label] {
    display: inline-block;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

select:focus {
    background-color: var(--background-color-dark);
    border: none;
    outline: none;
}

.radio input[type=radio]:checked + label {
    color: var(--text-color-dark);
    margin: 0;
    padding: 0;
}

.radio input[type=radio] {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 3px solid var(--background-color-interaction-dark);
    background-color: var(--text-color-dark-input-label);
    transition: .5s all;
}

input[type=checkbox] {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: var(--text-color-dark-input-label);
    box-shadow: 0 0 1px 1px rgb(255, 255, 255);
    transition: .5s all;
}
