.aside {
  padding-top: 20px;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;

  & a {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    cursor: pointer;
    padding: 20px;
    margin: 0;
    text-decoration: none;
    color: var(--white);
  }

  & a.active {
    color: var(--green);
    cursor: default;
  }

  & a:active,
  & a:hover {
    color: var(--green);
  }
}

@media screen and (width <= 600px) {
  .aside {
    gap: 10px;
    padding: 0;
  }
}
