@import 'mixins';

:root {
  --black: #1a1a1a;
  --white: #fff;
  --green: #27ae60;

  --font-family-main: "Anonymous Pro", monospace, serif;
  --transition-all: none;
}

::selection {
  color: var(--white);
  background: var(--green);
}

html, body {
  height: 100%;
}

select:focus {
  border: none;
  outline: none;
}

.body {
  background-color: var(--black);
  color: var(--white);
  font-weight: 800;
  transition: var(--transition-all);
  @include resetIndentation;
  box-sizing: border-box;
  font-family: var(--font-family-main), serif;
  text-align: center;
  height: 100%;

  &.white {
    background-color: var(--white);
    color: var(--black);
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

@media screen and (width <= 600px) {
  .body {
    background-color: var(--black);
    color: var(--white);
    font-weight: 800;
    transition: var(--transition-all);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

#app {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 129px auto;
}

.data input,
.data select {
  border: 0;
  outline: none;
  background-color: transparent;
}

input {
  @include inputReset(none);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &[type='checkbox'] {
    opacity: 0;
    display: none;
    visibility: hidden;
    position: absolute;
    @include positioning(0, 0);
  }

  &[type='color'] {
    background-color: transparent;
    cursor: pointer;
  }
}

label {
  display: inline;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#reset-text,
#reset-BG,
#submitURL {
  width: 60px;
  height: 20px;
  cursor: pointer;
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: 5%;
  color: var(--white);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a.white {
  color: var(--black);
}

.repos {
  width: 300px;
  height: 300px;
  border: 2px solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;

  & span {
    width: 300px;
  }

  & a {
    color: var(--white);
  }

  & a:visited {
    color: var(--green);
  }
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  row-gap: 10px;

  & a {
    flex-basis: 100%;
    flex-grow: 1;
    order: -1;
  }
}

.avatar {
  border-radius: 50%;
  border: 2px solid var(--white);
  box-shadow: 0 0 10px var(--white);
  width: 80px;
}

.settings-title {
  flex-basis: 100%;
  flex-grow: 1;
}
