@mixin inputReset($param) {
  appearance: $param;
  -webkit-appearance: $param;
  -moz-appearance: $param;
  border: $param;
  outline: $param;
}

@mixin resetIndentation {
  padding: 0;
  margin: 0;
}

@mixin positioning($l, $r) {
  left: $l;
  top: $r;
}
