@import "reset.css";
@import "./media/themes.css";

.body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    padding: 20px;
}

input,
textarea,
select {
    font-family: inherit;
}

.body::-webkit-scrollbar {
    width: 5px;
}

.body::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.body::-webkit-scrollbar-track {
    background-color: transparent;
}

.header {
    grid-column: 2 / 3;
    order: 1;
    flex-grow: 1;
    height: 100%;
    border: 1px solid yellow;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .table {
    height: 100%;
}

.header > a > img {
    width: 100%;
    transition: var(--transition-all);
    flex-basis: 10px;
}

.header > a p ~ img:hover {
    transform: scale(0.9)
}

@media (hover: none) {
    .header > a p ~ img:hover {
        transform: none;
    }
}

@media (hover: none) and (pointer: fine) {
    .header > a p ~ img:hover {
        transform: scale(1.1);
    }
}

.table {
    display: flex;
    border: 1px solid var(--background-color-interaction-dark);
    flex-direction: column;
}

#firstRow,
#secondRow {
    display: flex;
    flex-direction: column;
}

#firstRow > span,
#secondRow > span {
    padding: 10px;
    flex-basis: 5vh;
}

#firstRow span,
#secondRow span,
#tfoot,
#thead {
    border: 1px solid var(--background-color-interaction-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

#thead,
#tfoot {
    flex: 2 1 15vh;
}

.table > div div {
    user-select: none;
    cursor: none;
    transition: var(--transition-all);
}

#styleTable div {
    user-select: none;
    cursor: wait;
    transition: var(--transition-all);
}

#firstRow .bold {
    font-weight: 800;
    line-height: 2rem;
}

#firstRow .strong {
    font-weight: 100;
    letter-spacing: 4px;
}

#firstRow .sup {
    vertical-align: super;
    font-size: smaller;
}

#firstRow .sub {
    vertical-align: sub;
    font-size: smaller;
}

#firstRow .ins {
    text-decoration: underline;
}

#secondRow .del {
    text-decoration: line-through;
}

#secondRow .small {
    font-size: 80%;
}

#secondRow .mark {
    background-color: rgba(255, 197, 72, 0.44);
}

#secondRow .i {
    font-style: italic;
}

#secondRow .em {
    font-style: oblique;
}

.main {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.data {
    grid-column: 1 / 3;
    width: 100%;
}

.data,
.data fieldset,
.data form {
    height: 100%;
}

.data.send form {
    height: 100%;
}

fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: unset;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-image: initial;
    padding: 5px;
    font-size: medium;
}


fieldset {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

fieldset div,
fieldset time,
fieldset > label {
    display: flex;
    gap: 10px;
}

fieldset > * {
    margin: 5px;
}

.lists {
    border: 1px solid pink;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.lists div {
    flex-basis: 25%;
}

.lists div:nth-child(3) {
    flex-basis: 10%;
}

.lists div:nth-child(5) {
    order: -1;
}

h3 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    order: -2;
    /*flex: 1 1 100%;*/
}

.elements {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 40px;
}

.elements > nav,
.elements > figure {
    border: 1px solid green;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 0;
}

.input-btn input {
    background: transparent;
}

.input-btn input {
    animation: hackerRotate linear 1.5s infinite;
}

.input-btn input:hover {
    animation-play-state: paused;
}

@media (hover: none) {
    .input-btn input:hover {
        animation: none;
    }

    .input-btn input:active {
        animation: hackerRotate linear 1s infinite;
    }
}

@keyframes hackerRotate {
    0% {
        transform: rotate(0) scale(1);
    }

    25% {
        transform: rotate(90deg) scale(1.2);
    }

    50% {
        transform: rotate(180deg) scale(1);
    }

    75% {
        transform: rotate(270deg) scale(0.8);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.items article {
    border: 2px solid #22b14c;
}

.items input,
.items textarea {
    width: 80px;
}

.content form,
.content fieldset {
    height: 100%;
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.radio input[type=radio]:checked + label {
    margin: 0;
    padding: 0;
}

.radio input[type=radio] {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    transition: var(--transition-all);
}

input[type=checkbox] {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    transition: var(--transition-all);
}

input:focus {
    background-color: rgba(82, 82, 82, 0.18);
}

input:invalid:not(:placeholder-shown).required {
    border-color: red;
}

input:valid:not(:placeholder-shown).required {
    border-color: green;
}

input:required {
    animation: shake 0.1s 5;
}

input:valid:not(:placeholder-shown).required {
    animation: shakeUp 0.2s 1;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-0.2vw);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(0.2vw);
    }
}

@keyframes shakeUp {
    0% {
        transform: translateY(-3px);
    }

    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}

.button-hover:hover {
    cursor: pointer;
    background-color: rgba(152, 152, 152, 0.39);
}

@media (hover: none) {
    .button-hover:hover {
        cursor: unset;
        background-color: unset;
    }

    .button-hover:active {
        cursor: pointer;
        background-color: rgba(152, 152, 152, 0.39);
    }
}

.button-hover:active {
    background-color: rgba(152, 152, 152, 0.16);
}

#file::file-selector-button {
    background: rgba(255, 255, 255, 0.12);
    border: none;
}

#file::file-selector-button:hover {
    background: rgba(255, 255, 255, 0.22);
}

@media (hover: none) {
    #file::file-selector-button:hover {
        background: unset;
    }

    #file::file-selector-button:active {
        background: rgba(255, 255, 255, 0.22);
    }
}

#file::file-selector-button:active {
    background: rgba(255, 255, 255, 0.36);
}

[data-submit],
[data-reset] {
    cursor: pointer !important;
}

[data-footer-label] {
    display: inline-block;
    margin-bottom: 10px;
}

.nav-link a {
    transition: 0.3s;
}

.nav-link a:hover {
    color: blueviolet;
    border-bottom: 1px solid red;
    transform: scale(0.95);
}

.contact h3 a {
    animation: footerLink ease-in 1s alternate-reverse infinite;
    padding: 8px;
}

.contact h4 a {
    animation: footerLink ease-in 1s alternate infinite;
    padding: 8px;
}

@keyframes footerLink {
    0% {
        border: 0 solid #ff0000;
    }


    100% {
        border: 8px double #0000ff;
    }
}

::selection {
    background-color: black;
    color: white;
}