@import "reset.css";

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: Consolas, Arial, sans-serif;
    color: #27ae60;
    background-color: #1a1a1a;
}

button,
a,
textarea{
    background: transparent;
    color: #27ae60;
    border: 1px solid blue;
}

a {
    display: block;
    font-weight: 900;
    padding: 10px;
}

.localStorage,
.sessionStorage {
    display: grid;
    align-items: center;
}